/* fonts */
$opensans_regular: 'open_sansregular', Arial, Helvetica, sans-serif;
$opensans_bold: 'open_sansbold', Arial, Helvetica, sans-serif;
$opensans_italic: 'open_sansitalic', Arial, Helvetica, sans-serif;

